.wallpaper {
   /* height: 100vh; */
   width: 100%;
   background-image: url(hd.jpg);
   /* animation: wallpaper  3s ease infinite;*/
   display: flex;
   flex-direction: column;

   /* justify-content: center; */
   align-items: center;
   z-index: 1000;
   background-size: cover;
   margin-bottom: 0px;
}

.flex-container {
   display: flex;
   justify-content: center;
}

/*@keyframes wallpaper {
   0% {
       background-position: 0% 50%;
   }
   50% {
       background-position: 100% 50%;
   }
   100% {
       background-position: 0% 50%;
   }
}*/

.container-main {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   /* z-index: 3000; */
}

h6 {
   font-family: 'Montserrat';
   font-style: normal;
}

.flex-block1 {
   /* flex-direction: row; */
   background-image: url('1.jpg');
   background-size: 100%;
    flex-grow: 2;
   border: solid;
   height: 270px;
   /* align-items: stretch; */
   max-width: 100%;
   background-repeat: no-repeat;
   max-height: 100vh;
   background-size: cover;
   background-position: center;
   /* z-index: 2000; */
   width: 1500px;
   margin-bottom: auto;
}

/*.wallpaper {
background-image: url('3.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 100vh;
} */

.container-main {
   /* display: inline-flex; */
   /* justify-content: space-between; */
   /* z-index: 2000; */
   width: auto;
   align-items: center;
   /* width: 500px; */
}

.flex-block {
   align-items: center;
   justify-content: space-between;
   /* margin-bottom: 920px; */
   /* margin-left: 100px;
   margin-right: 100px; */
   display: flex;
   font-family: 'Montserrat', sans-serif;
   text-align: center;
   margin: 0 60px;
}

.button-main {
   height: 2.5rem;
   font-size: 1.2rem;
   border: 0;
   border-radius: 5px;
   border-color: floralwhite;
   background-color: transparent;
   cursor: pointer;
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   font-size: 17px;
   margin: auto;
   color: floralwhite;
   width: 14rem;
}

.button-main:hover {
   font-size: 18px;
   border-style: double;
   font-family: 'Montserrat', sans-serif;
   background: transparent;
   font-size: 20px;
   border: solid;
   border-radius: 5px;
   margin: auto;
   background-color: rgba(0, 0, 0, 0.4);
   border-width: thin;
}

.button-main:active {
   box-shadow: 0 0 0 0.25rem, rgb(10, 6, 5);
   color: white;
}


.col-12 {
   margin-top: 1rem;
}

#news {
   display: flex;
   flex-direction: row;
   position: relative;
   height: 700px; 
   width: 300px;
   overflow-y: auto;
   background: transparent;
   width: 100%;
   background-size: cover;
   opacity: 0.80;
   background-attachment: fixed;
   /*фиксатор картинки */
   border: ridge;
   overflow-y: scroll;
}



p {
   font-family: 'Montserrat', sans-serif;
   Color: white;
}

h4 {
   color: wheat;
   font-family: 'Montserrat', sans-serif
}

h3 {
   Color: white;
   font-family: 'Montserrat', sans-serif;
}

ul {
   font-family: 'Montserrat', sans-serif;
   Color: white;
}






}


#footer-all {
   display: flex;
   position: relative;
   width:1600px;

}


#footer {
   bottom:0px;
   right:0px;	
   padding:10px;
   color:#008080;
   font-family: 'Akaya Telivigala', cursive;
   
}
   


#footer-words {
   font-family: 'Montserrat', sans-serif;
   color:black;
}

.flex-container-footer-icon {
   display:flex;
   flex-direction: column;
   top:0;
   right:0;
   align-items:flex-end;
   

}
.flex-block-footer-icon {
   display: flex;
  
  
}